.item-lookup-conatiner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .item-lookup {
    display: none;
    flex-direction: row;
    margin: auto;

    width: 100%;
    height: 80%;
    max-height: 500px;
    pointer-events: auto;

    &.active {
      display: flex;
    }
  }
}

.player-inventory {
  position: absolute;
  bottom: 0;
  margin: auto;
  display: block;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  pointer-events: auto;
  gap: 30px;
  .inventory {
    background-color: white;
    border-radius: 15px;
    .inventory-row {
      .inventory-slot {
        width: 50px;
        height: 50px;

        border-radius: 10px;
        margin: 3px 3px 3px 3px;
        background-color: #29210a;

        .item {
          width: 50px;
          height: 50px;

          item-image {
            width: 50px;
            height: 50px;
            image-rendering: pixelated;
          }
        }
      }
    }
  }
  .off-hand {
  }

  .main {
    .inventory {
      .inventory-row {
        .inventory-slot {
          &.active {
            background: var(--primary);
          }
        }
      }
    }
  }

  .active-tool {
    border-radius: 15px;
    border: 1px solid var(--primary);
    background: white;
    position: relative;
    padding: 10px;

    .active-tool-slot {
      width: 50px;
      height: 50px;
      border-radius: 10px;
      > svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        image-rendering: pixelated;
        stroke: black !important;
        fill: black !important;
      }
    }
  }
}
